<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <input type="email" name="email" placeholder="E-mail" required>
        <input type="password" name="password" placeholder="Senha" required>
        <button type="submit">Entrar</button>
    </form>
    <a href="{% url 'register' %}">Registre-se</a>

    <!-- Exibe as mensagens de erro -->
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li style="color: red;">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
</body>
</html>